* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Lato"*/
}

html {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
  color: rgb(3, 3, 3);
  max-height: 100vh;
  overflow: hidden;
}
button {
  font-family: "Lato", sans-serif;
}
path,
i,
svg {
  pointer-events: none;
}

.variants {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.slabs {
  flex: 1;
  width: 100%;
  display: flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: small;
  letter-spacing: 0.1rem;
}

.original {
  transform: scale(1.5, 1.5);
}
.slabs:hover {
  box-shadow: 0.2rem;
  font-weight: bold;
}

.shade-hex {
  display: none;
}

.colors {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 80vh;
  color: rgb(31, 31, 31);
  overflow: hidden;
  max-height: 100vh;
}

.color-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.color {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.color h2 {
  font-size: 2rem;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  height: 10vh;
  left: 35%;
  right: 35%;
  min-width: 300px;
  backdrop-filter: blur(2rem);
    background-color: #dad9d93d;
    -webkit-backdrop-filter: blur(2rem);
    position: absolute;
    border-radius: 1rem;
}

.panel button {
  font-size: 1.2rem;
  margin: 1.2rem;
  padding: 1rem 1rem;
  background: rgb(33, 33, 63);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 1.65rem 0rem;
  color: inherit;
}

.controls {
  display: flex;
  flex-direction: column;
}

.drag{
  display: none;
}

.save-container {
  padding: 2rem 1rem;
  gap: 20px;
  position: absolute;
  top: 40%;
  right: 30%;
  left: 30%;
  border: 1px solid rgb(110, 110, 110);
  width: 100px;
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2rem);
    background-color: #dad9d93d;
    -webkit-backdrop-filter: blur(2rem);
    position: absolute;
    border-radius: 1rem;
  }
.save-popup{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center ;
}
.close-save {
  border: none;
  outline: none;
  background: inherit;
  font-size: 1rem;
  font-weight: bold;
  color:rgb(53, 53, 53);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  

  .colors {
    flex-direction: column;
    width: 100vw;
  }
  
  .color {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
 .color h2 {
   font-size: 1rem;
 }
  .variants {
    flex-direction: row;
  }

  .panel {
    min-width: min-content;
    min-height: fit-content;
    display: flex;
    transform: scale(0.7,0.7);
    left: auto;
    bottom: 0%;
    row-gap: 0.5rem;
  }
    .panel button {
      margin: 0.7rem;
      padding: 1rem 1rem;
      background: rgb(33, 33, 63);
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 0.5rem;
    }
  .controls{
    transform: scale(0.7,0.7);
  }
}