* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Lato"*/
}

html {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
  color: rgb(3, 3, 3);
  max-height: 100vh;
  overflow: hidden;
  max-width: 100vw;
}
button {
  font-family: "Lato", sans-serif;
}
path,
i,
svg {
  pointer-events: none;
}
.responsive {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c5c5c53d;
}
.variants {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.slabs {
  flex: 1;
  width: 100%;
  display: flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: small;
  letter-spacing: 0.1rem;
}

.original {
  transform: scale(1.5, 1.5);
}
.slabs:hover {
  box-shadow: 0.2rem;
  font-weight: bold;
}

.shade-hex {
  display: none;
}

.colors {
  flex-basis: 2;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 90vh;
  color: rgb(31, 31, 31);
  overflow: hidden;
}

.color-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.color {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.color h2 {
  font-size: 2rem;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  background-color: #c5c5c53d;
  flex-basis: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  height: 10vh;
  /*left: 35%;
  right: 35%;*/
  min-width: 300px;
  /*backdrop-filter: blur(2rem);
  background-color: #dad9d93d;
  -webkit-backdrop-filter: blur(2rem);
  position: absolute; */
  border-radius: 1rem;
}

.panel button {
  font-size: 1rem;
  margin: 1.2rem;
  padding: 1rem 1rem;
  background: rgb(33, 33, 63);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}

.panel p {
  font-size: 1rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 1.65rem 0rem;
  color: inherit;
}

.controls {
  display: flex;
  flex-direction: column;
}

.save-container {
  gap: 20px;
  position: absolute;
  top: 30%;
  right: 33%;
  left: 33%;
  border: 1px solid rgb(108, 104, 104);
  min-width: 100px;
  max-width:50vw;
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2rem);
  background-color: #dad9d93d;
  -webkit-backdrop-filter: blur(2rem);
  border-radius: 1rem;
}
#save-msg {
  font-weight: 600;
  padding: 1rem;
}
.save-popup, .library-popup {
  
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  overflow-y: auto;
}
.close-save, .close-library{
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  color: rgb(53, 53, 53);
  cursor: pointer;
  font-size:0.8rem;
  padding: 0.5rem 0.6rem;
  background: rgb(33, 33, 63);
  border: none;
  color: rgb(235, 235, 235);
  cursor: pointer;
  border-radius: 50%;
}

.library-container{
  display: none;
  position: absolute;
  top: 15%;
  right: 33%;
  left: 33%;
  height: 65vh;
 
  overflow:auto;
  min-width: 35vw;
  max-width: fit-content;
  border: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3rem);
    background-color: #dad9d93d;
    -webkit-backdrop-filter: blur(3rem);
    border-radius: 1rem;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-item{ 
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: inherit;
  list-style:none;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
}
.color-block{
  width: 2rem;
  height:1rem;
}


@media screen and (max-width: 768px) {
  .body{
    overflow: hidden;
  }
  .colors {
    flex-direction: column;
    object-fit: scale-down;
    height: 85vh;
  }
.responsive{
  min-height: 100vh;
}
  .color {
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
  }

  .color h2 {
    font-size: 1rem;
  }
  .variants {
    flex-direction: row;
  }

  .panel {
    display: flex;
    row-gap: 0.5rem;
    height: 15vh;
    min-width: fit-content;
  }

  .panel button {
    margin: 0.7rem;
    padding: 1rem 1rem;
    background: rgb(33, 33, 63);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: medium;
  }
  .controls {
    transform: scale(0.7, 0.7);
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
  }
  .original {
      transform: scale(1, 1);
  }
  .library-container, .save-container{
   min-height: 15vh;
   height: auto;
   max-height: 80vmax;
   min-width: 60vw;
   left: 10%;
   right: 10%;
   top:20%;
   justify-content:center;
   align-content: flex-start;
   align-items: center;
  margin: auto;
  overflow-y: visible;
  
  }
 

}
