* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Lato"*/
}

body {
  font-family: "Lato", sans-serif;
  color: rgb(3, 3, 3);
}
button {
  font-family: "Lato", sans-serif;
}
path,
i,
svg {
  pointer-events: none;
}

.colors {
  display: flex;
  min-height: 80vh;
  color: rgb(0, 0, 0);
}
.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.color h2 {
  font-size: 2rem;
  cursor: pointer;
}
.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background: rgb(236, 236, 236);
  padding: 1rem;
  width: 80%;
  opacity: 0;
  pointer-events: none;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}
.sliders button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-bottom-left-radius: 0.8rem;
  border-top-right-radius: 1rem;
  border: none;
  background: rgb(236, 162, 162);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
}
.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: rgb(33, 33, 63);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}
.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
  color: rgb(33, 33, 63);
}
